<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
    <form action="/account/approve" method="post">
    <table id="table" >  
        <thead>  
            <tr> 
                <th></th>
                <th>Username</th>  
                <th>Email</th>
                <th>Password</th>
            </tr>     
        </thead>  
         <tbody>  
         <% print.forEach(function (user) { %>
            <tr> 
                <td><input type="checkbox" name="user" value="<%=count%>"></td>
                <td><%= user.username %>        
                <td><%= user.email %></td>
                <td><%= user.password %> 
                
                <%count++%>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>
     <button type="submit" class="btn btn-succcess btn-lg">Approve</button>
     <button type="submit" class="btn btn-succcess btn-lg" formaction="/account/delete">Remove</button>
    </form>
<p>Go Back <a href="/">Home</a>.</p></body>

</html>