<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="3; url=http://localhost:3000/">
        <title>Redirecting to the main page...</title>
    </head>
    <body>
        Thank you for playing!

        <br />
        <br />

        Please log in again to play more!
    </body>
</html>